body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 80vh;
  padding: 20px 200px;
}

.message {
  opacity: 0.4;
}

/* Navbar */
.navBar {
  padding: 5px 150px;
}

.navBrand span {
  /* color: #2199d5; */
  color: rgba(0, 0, 0, 0.55);
  font-weight: bold;
  font-size: 30px;
  font-family: "sans-serif";
}

.navBrand img {
  max-height: 50px;
  max-width: 50px;
}

.navLink {
  font-size: 16px;
}

.navLink i {
  padding: 0 5px;
}

/* Home Screen */
h1 {
  font-size: 25px;
  font-family: "sans-serif";
  color: rgb(103, 102, 102);
  margin-top: 10px;
}

/* Product Card */
.productCard {
  min-height: 400px;
  min-width: 220px;
  max-height: 400px;
}

.productCard div {
  margin: 10px 0;
}

.cardTitle {
  font-size: 12px;
}

.author {
  font-size: 10px;
}

.cardTitle:hover {
  text-decoration: underline;
}

.price {
  font-size: 15px;
}

.rating span {
  margin: 0.1rem;
}

/* Product Detail */
.productDetail {
  padding-top: 20px;
}

.productTitle {
  font-size: 20px;
  font-weight: bold;
}

.addToCart {
  margin-left: 50px;
}

.addToCart .btn {
  border-radius: 0;
  margin-left: 2px;
}

/* Cart */
.cart h1{
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-family: "sans-serif";
  color: rgb(103, 102, 102);
  margin-top: 10px;
}
h3 {
  color: rgb(103, 102, 102);
}

.btn {
    border-radius: 0;
    margin-left: 20px;
    width: 150px;
    font-size: 15px;
}

.subtotal {
  margin-left: 25px;
  margin-top: 10px;
}

.cartItemName {
  text-decoration: none;
  color: #343a40
}

.cartItemName:hover {
  text-decoration: underline;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}